<form method="post" action="{{ path('app_taxi_delete', {'idTaxi': taxi.idTaxi}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ taxi.idTaxi) }}">
    <button class="btn">Delete</button>
</form>
