<form method="post" action="{{ path('app_metro_delete', {'idMetro': metro.idMetro}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ metro.idMetro) }}">
    <button class="btn">Delete</button>
</form>
