<form method="post" action="{{ path('app_train_trajet_delete', {'id': train_trajet.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ train_trajet.id) }}">
    <button class="btn">Delete</button>
</form>

