{% extends 'base.html.twig' %}

{% block title %}Edit TrainTrajet{% endblock %}

{% block body %}
    <h1>Edit TrainTrajet</h1>

    {{ include('train_trajet/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_train_trajet_index') }}">back to list</a>

    {{ include('train_trajet/_delete_form.html.twig') }}
{% endblock %}
