{% extends 'base.html.twig' %}

{% block title %}New Scooter{% endblock %}

{% block body %}
    <h1>Create new Scooter</h1>

    {{ include('scooter/_form.html.twig') }}

    <a href="{{ path('app_scooter_index') }}">back to list</a>
{% endblock %}
