{% extends 'base.html.twig' %}

{% block title %}New Trajetbus{% endblock %}

{% block body %}
    <h1>Create new Trajetbus</h1>

    {{ include('trajetbus/_form.html.twig') }}

    <a href="{{ path('app_trajetbus_index') }}">back to list</a>
{% endblock %}
